registry=http://nexus.lesso.com/nexus/content/groups/npm/

init.author.name=Deployment
init.author.email=lesso.soft@lesso.com
email=lesso.soft@lesso.com
always-auth=true
_auth=ZGVwbG95bWVudDpkZXBsb3ltZW50